/*@font-face {*/
/*   font-family: "alegreya", serif;*/
/*    font-family: 'Alegreya', serif;*/
/*    font-family: 'Alegreya Sans', sans-serif; для меню*/

/*}*/

html{
    min-height: 100%;
}

body{
    background-color: #f0e8dc;
    min-height: 100%
}


a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
	color: #89a264;
/*	color: #124559;*/
	text-decoration: none;
	
	
};

header {

    background-color: #73626c;
    /*    text-align:center;*/
}

.header-top {

    height: 155px;
    background-color: #73626c;
    position: relative;


}

.name {
    text-align: center;
}

h1 {
    margin: 0;
    color: #ffffff;
    font-size: 64px;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    padding-top: 10px;
}

/*.wrapper-menu{ */
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*    display:inline-block;*/
/*    vertical-align: middle;*/
/*    text-align: center;*/
/*    */

nav li {
    /*  display: inline-block;*/
}

nav a {
    /*    display: inline-block;*/
    /*    background: #000;*/
    padding: 0 10px;
    font-size: 36px;
    display: inline-flex;



    /*    font-size: 17px;*/
    /*    line-height: normal;*/
    /*    letter-spacing: normal;*/
}


.my-nav {
    /*    background: red;*/
    /*    display: inline-block;*/
    /*    vertical-align: middle;*/
    display: flex;
    /*    display: inline-block;*/
    list-style: none;
    /*    text-align: center;*/
    /*        margin-left: auto;*/
    /*        margin-left: auto;*/
    width: 100%;
    /*        padding-left: 50px;*/
    /*        padding-right: 50px;*/
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    /*    font-size: 36px;*/
    text-decoration: none;
    word-spacing: 10px;
    white-space: pre;
    /*    position:relative;*/
    /*    align-self: flex-end;*/



}

.logo-ing {

    width: 170px;
    height: 170px;
    border-radius: 50%;
    position: sticky;
    top: 70px;
    z-index:99999999;


}

.mail-content {
    width: 100%;
/*	display: inline-block;*/
/*	position:fixed;*/
/*	margin-top:inherit;*/
    
/*     flex-grow: 1;*/
/*}*/

}

footer {
    width: 100%;
    min-height: 50px;
    background-color: #73626c;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    position: fixed;
    bottom: 0;

}

.social-media a {
    text-decoration: none;

}

.copyrait {
    margin-top: auto;
    font-family: 'Alegreya', serif;
    font-size: 13px;

}

.tel {

    text-align: right;
    margin-top: auto;
    padding: inherit;
    padding-bottom: 0.5em;
    font-family: 'Alegreya', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;

}

/*Медиа запрос для шапки*/

@media (max-width: 767px) {

    .header-top {
        height: 100px;

    }
}


/*Медиа запрос для названия*/

@media (max-width: 768px) {
    .name h1 {
        font-size: 48px;
        
    }
}

@media (max-width: 414px) {
    .name h1 {
        font-size: 36px;
    }
}

@media (max-width: 414px) {
    .name h1 {
        padding: 20px;
    }
}






/*Медиа запрос для менюшки*/

/*@media (max-width: 1051px) {*/
/*    .my-nav a {*/
/*        font-size: 30px;*/
/*    }*/
/*}*/

@media (max-width: 992px) {
    .my-nav a {
        font-size: 24px;
    }
}

@media (max-width: 768px) {
    .my-nav a {
        font-size: 24px;
    }
}


/*Медиа запрос для лого*/

@media (max-width: 992px) {
    .logo-ing {
        width: 140px;

    }
}

@media (max-width: 992px) {
    .logo-ing {
        height: 140px;

    }
}

@media (max-width: 992px) {
    .logo-ing {
        position: sticky;

    }
}

@media (max-width: 992px) {
    .logo-ing {
        top: 65px;
    }
}



@media (max-width: 768px) {
    .logo-ing {
        width: 100px;

    }
}

@media (max-width: 768px) {
    .logo-ing {
        height: 100px;

    }
}

@media (max-width: 768px) {
    .logo-ing {
        position: sticky;

    }
}

@media (max-width: 768px) {
    .logo-ing {
        top: 105px;
    }
}

@media (max-width: 768px) {
    .logo-ing {
        width: 100px;

    }
}

@media (max-width: 767px) {
    .logo-ing {
        height: 100px;

    }
}

@media (max-width: 767px) {
    .logo-ing {
        position: sticky;

    }
}

@media (max-width: 767px) {
    .logo-ing {
        top: 50px;
    }
}

@media (max-width: 576px) {
    .logo-ing {
        width: 90px;

    }
}

@media (max-width: 576px) {
    .logo-ing {
        height: 90px;

    }
}

@media (max-width: 576px) {
    .logo-ing {
        position: sticky;

    }

@media (max-width: 576px) {
        .logo-ing {
            top: 55px;
        }
    }

}

@media (max-width: 414px) {
    .logo-ing {
        width: 80px;

    }
}

@media (max-width: 414px) {
    .logo-ing {
        height: 80px;

    }
}

@media (max-width: 414px) {
    .logo-ing {
        top: 60px;
    }
}


@media (max-width:992px){
    .tel {    font-size: 24px
        
    }
}