@font-face { 
font-family: "alegreya sc", sans-serif;
src: url("../fonts/alegreya sc.ttf");
    
 }
@import url:('https://fonts.googleapis.com/css?family=Alegreya+SC:400,400i,500,500i,700,700i,800,800i,900,900i|Alegreya+Sans:100,100i,300,300i,400,400i,500,500i,700,700i,800,800i,900,900i&display=swap&subset=cyrillic,cyrillic-ext');


 

body {
    background-color: #f0e8dc;
    font-family:"alegreya sc", sans-serif;
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Alegreya SC', serif;


    
    
}

a {
    text-decoration: none;
    color: #ffffff
}

header {
    min-height: 150px;
    background-color: #73626C;
    }


.header-top {
    background-color: #73626C;
    color: #ffffff
}
.name {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;
    padding-bottom: 0px;
    font-family: "alegreya-sc";
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    line-height: 87px;
    display: flex;
    align-items: center;
    text-align: center;
    

}

h1 {    
    color: #ffffff; 
    font-family:"alegreya sc";
    font-style: normal;
    font-weight: normal;
    font-size: 64px;
    align-items: center;
    text-align: center;
    display: inline-block;
    margin:0;
    }

.logo-img {
display: inline-block;
    
}

.nav-menu {
    width: 75%;
    margin-left: auto;
    display: inline-block;
    
}
.main-menu {
    color: #ffffff;
    font-family:"alegreya sans";
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    
   
    
}

