@font-face { 
/*   font-family: "alegreya", serif;*/
/*    font-family: 'Alegreya', serif;*/
/*    font-family: 'Alegreya Sans', sans-serif; для меню*/
  
}

a{
    text-decoration: none;
    color: #ffffff
}

body {
    background-color: #f0e8dc;
        
}

header {
    min-height: 150px;
/*    text-align:center;*/
    
 }

.header-top {
    
    min-height: 150px;
    background-color: #73626c;
    
		
}

.name{
    text-align:center;
}

h1{
    margin: 0;
    color: #ffffff;
    font-size: 64px;
	font-family: 'Alegreya', serif;
	font-weight: 400;
	padding-top: 10px;
}

.wrapper-menu{ 
    margin-right: auto;
    margin-left: auto;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    
}

.nav-menu {
    display:inline-block;
    vertical-align:middle;
    display: flex;
	list-style: none;
    text-align: center; 
	margin-left: auto;
	margin-left: auto;
	word-spacing: 10px;
    width: 85%;
 	padding-left: 50px;
	padding-right: 50px;
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    
    }

/*.logo {*/
/*    display:inline-block;*/
/*    width: 180px;*/
/*    height: 180px;*/
/*    margin: 25px;*/

/*    background-color: red;*/




footer{
    min-height: 20px;
    background-color: #73626c;
    
}