/*@font-face {*/
/*   font-family: "alegreya", serif;*/
/*    font-family: 'Alegreya', serif;*/
/*    font-family: 'Alegreya Sans', sans-serif; для меню*/

/*}*/



a {
    text-decoration: none;
    color: #ffffff;
}

body {
    background-color: #f0e8dc;
    /*    width: 100%;*/
}

header {
    min-height: 150px;
    background-color: #73626c;
    /*    text-align:center;*/
}

.header-top {

    min-height: 150px;
    background-color: #73626c;


}

.name {
    text-align: center;
}

h1 {
    margin: 0;
    color: #ffffff;
    font-size: 64px;
    font-family: 'Alegreya', serif;
    font-weight: 400;
    padding-top: 10px;
}

/*.wrapper-menu{ */
/*    margin-right: auto;*/
/*    margin-left: auto;*/
/*    display:inline-block;*/
/*    vertical-align: middle;*/
/*    text-align: center;*/
/*    */

nav li {
    /*  display: inline-block;*/
}

nav a {
    /*    display: inline-block;*/
    /*    background: #000;*/
    padding: 0 10px;
    /*    font-size: 17px;*/
    /*    line-height: normal;*/
    /*    letter-spacing: normal;*/
}


.my-nav {
    /*    background: red;*/
    /*    display: inline-block;*/
    /*    vertical-align: middle;*/
    display: flex;
    list-style: none;
    /*    text-align: center;*/
    /*        margin-left: auto;*/
    /*        margin-left: auto;*/
    /*        width: 100%;*/
    /*        padding-left: 50px;*/
    /*        padding-right: 50px;*/
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: bold;
    font-size: 36px;
    text-decoration: none;
    word-spacing: 10px;

}

.logo-ing {

    width: 170px;
    height: 170px;
    border-radius: 50%;
    position: absolute;

}

footer {
    width: 100%;
    min-height: 50px;
    background-color: #73626c;
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    position: absolute;
    bottom: 0;
   
}

.social-media a {
    text-decoration: none;

}

.copyrait {
    margin-top: auto;
    font-family:'Alegreya', serif;
    font-size: 13px;

}

.tel {

    text-align: right;
    margin-top: auto;
    padding: inherit;
    padding-bottom: 0.5em;
    font-family:'Alegreya', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    
}



@media (max-width:768px) h1 {
    font-size: 24px;
}
